:root {
  --color-bg: #222222;
  --color-text-main: #DDDDDD;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

body {
  color: var(--color-text-main);
  background-color: var(--color-bg);
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
  text-align: center;
}

.output {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
